
<div class="feedback-content">
  <div class="mediums">
      <% Medium.all.each do |medium| %>
        <div class="medium">
          <h2><%= medium.name %></h2>

          <div class="works">
            <% medium.works.each do |work| %>
              <div class="work">
                <h3><%= work.title %></h3>
                <button>Give Feedback</button>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
  </div>
</div>
